@page
@model LogoutModel
@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery


<form method="post">
    <input type="hidden" name="ReturnUrl" value="/" />
    <input name="__RequestVerificationToken" type="hidden" value="@Antiforgery.GetTokens(HttpContext).RequestToken" />
    <button type="submit">Log out</button>
</form>