@page "/Account/Logout"

@using Microsoft.AspNetCore.Identity
@using PhotoShare.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Nav

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await PerformLogout();
    }

    private async Task PerformLogout()
    {
        await SignInManager.SignOutAsync();
        Nav.NavigateTo("/", forceLoad: true);
    }
}